.contact-info {
  background-color: #d3f3ee;
  display: grid;
  grid-template-columns: 50px 40px 300px 400px;
  grid-template-rows: 150px 75px 75px 75px 75px 85px;
  gap: 0 0;
  justify-content: center;
}
.contact-info h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  grid-row: 1;
  grid-column: 1 / span 3;
  text-align: center;
}
.contact-info img {
  width: 400px;
  height: 535px;
  grid-row: 1 / span 5;
  grid-column: 4;
}
.contact-info svg {
  fill: black;
  height: 40px;
  width: 40px;
  text-decoration: none;
}
.contact-info a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: auto auto auto 0;
  max-height: 40px;
}
.fb-icon{
  grid-row: 2;
  grid-column: 2;
}
.fb-text {
  grid-row: 2;
  grid-column: 3;
  padding: 10px;
}
.insta-icon{
  grid-row: 3;
  grid-column: 2;
}
.insta-text {
  grid-row: 3;
  grid-column: 3;
  padding: 10px;
}
.email-icon{
  grid-row: 4;
  grid-column: 2;
}
.email-text {
  grid-row: 4;
  grid-column: 3;
  padding: 10px;
}
.phone-icon{
  grid-row: 5;
  grid-column: 2;
}
.phone-text {
  grid-row: 5;
  grid-column: 3;
  padding: 10px;
}