.contact-container {
  background-color: #D8FFF3;
}
.contact-info {
  padding: auto;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  gap: 0 0;
  justify-content: center;
}

.contact-info h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
.contact-info img {
  width: 400px;
  height: auto;
  grid-row: 1 / span 5;
  grid-column: 2;
}

.contact-link {
  color: black;
  text-decoration: none;
  font-size: 20px;
  height: 40px;
  margin-right: auto;
  padding: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 15px;
  justify-content: left;
}
.contact-link svg {
  fill: black;
  height: 40px;
  width: 40px;
  text-decoration: none;
}
.contact-link span {
  height: 100%;
  margin-top: 5px;
  padding-right: 15px;
}

@media only screen and (max-width: 850px) {

  .contact-info {
    grid-template-columns: auto;
    gap: 15px 0;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .contact-info img {
    grid-row: 6;
    grid-column: 1;
    width: 100%;
  }

  .contact-link {
    width: 90%;
    margin: auto;
  }

}

@media only screen and (max-width: 550px) {
  .contact-info {
    max-width: 100%;
  }
  .contact-info h3 {
    width: 90%;
    padding: 0 20px;
  }
  .contact-link {
    width: 85%;
    margin: auto;
    font-size: 5vw;
    height: 10vw;
  }
  .contact-link svg {
    width: 10vw;
    height: 10vw;
  }
}