body {
    font-family: "Poppins", sans-serif;
    background-color: #01796f;
    margin: 0;
}
header nav {
  text-align: center;
  padding: 40px 10% 0 10%;
  display: grid;
  grid-template-columns: 150px 175px 175px 175px 175px 150px;
  gap: 0px 0px;
  justify-content: center;
}
header img {
  width: 100px;
}
.nav-div {
  padding: auto auto 0px auto;
  margin: auto;
  color: white;
  transition-duration: .25s;
}
.nav-div:hover {
  padding: auto auto 0px auto;
  margin: auto;
  color: #d3f3ee;
}
header nav div a {
  text-decoration: none;
  font-size: 30px;
  color: currentColor;
}
.nav-div svg {
  display: none;
}
.nav_underline {
  height: 3px; 
  margin: 0 0 0 50%;
  background-color: currentColor;
  width: 0%;
  transition-duration: .25s;
}
.nav-div:hover > .nav_underline {
  height: 3px; 
  margin: 0;
  background-color: currentColor;
  width: 100%;
}
.list-toggle {
  display: none;
}
.banner {
  background-color: #33261e;
  margin: 0;
  text-align: center;
  padding: 20px 0;
}
.banner h1 {
  font-size: 100px;
  font-weight:400;
  color: white;
  margin: auto 0;
}



footer {
  text-align: center;
  padding: 80px;
  color: black;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  grid-template-rows: auto auto;
  gap: 0px 30px;
  justify-content: center;
  background-color: #33261e;
}

.contact-footer {
  text-align: center;
  margin: 10px auto 0;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  color:white;
}
.contact-footer:hover {
  text-align: center;
  margin: 10px auto 0;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  color:#d3f3ee;
}
.contact-footer a {
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  color: currentColor;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.contact-underline {
  background-color: currentColor;
  width: 0;
  height: 3px;
  padding: 0;
  margin: 5px 0 20px 50%;
  transition-duration: .25s;
}
.contact-footer:hover > .contact-underline {
  background-color: currentColor;
  width: 100%;
  height: 3px;
  padding: 0;
  margin: 5px 0 20px;
}

footer > .fb-icon {
    grid-row: 2 / span 1;
}
footer > .insta-icon {
    grid-row: 2 / span 1;
}
footer > .email-icon {
  grid-row: 2 / span 1;
}
footer > .phone-icon {
  grid-row: 2 / span 1;
}

footer a svg {
  fill: white;
  height: 40px;
  width: 40px;
  transition-duration: .25s;
}
footer a:hover svg {
  fill: #d3f3ee;
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 800px) {
  .banner h1 {
    font-size: 10vw;
  }
}
@media only screen and (max-width: 725px) {

  header nav {
    padding: 40px auto 0 auto;
    grid-template-columns: 75px 150px 150px 75px;
    gap: 20px 0px;
    justify-content: center;
  }
  header img {
    display: none;
  }
  .nav-div {
    padding: 0;
    height: 40px;
  }
  .nav-div a {
    font-size: 20px;
    height: 30px;
    padding: 0;
    margin: 0;
  }
  .nav-div svg {
    display: block;
    padding: 10px;
    margin: auto;
    width: 30px;
    height: 30px;
    line-height: 0;
  }
  .nav-home {
    grid-row: 1;
    grid-column: 2;
  }
  .nav-home a span {
    display: none;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
  }
  .nav-home .nav_underline {
    display: none;
  }
  .nav-shop {
    grid-row: 1;
    grid-column: 3;
  }
  .nav-shop .nav_underline {
    display: none;
  }
  .nav-shop a span {
    display: none;
    width: 0;
    height: 0;
  }
  .nav-about {
    grid-row: 2;
    grid-column: 2;
  }
  .nav-contact {
    grid-row: 2;
    grid-column: 3;
  }


}