:root {
  --nav-logo-size: 120px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #006E4B;
  overflow-x: hidden;
}
header {
  width: 100%;
  overflow: hidden;
  position: sticky;
  top:0;
  padding: 0;
  margin: 0;
  z-index: 100;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.562);
}
header nav {
  text-align: center;
  display: grid;
  grid-template-columns: var(--nav-logo-size) auto auto auto auto;
  padding: 10px 20px calc(var(--nav-logo-size) / 4.75) 20px;
  margin: 0;
  gap: 0px 65px;
  justify-content: center;
  background-color:#006E4B;
  z-index: -2;
}
header img {
  position: relative;
  width: 70%;
  height: auto;
  z-index: 2;

  padding: 12% 0 0 0%;
}
.wavy-circle {
  --s: var(--nav-logo-size); /* adjust to control the size */

  position: absolute;
  background-color: #fff8c7;
  width: var(--s); 
  aspect-ratio: 1;
  --g:/calc(var(--s)*0.174) calc(var(--s)*0.174) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
  mask: calc(50% + var(--s)*0.39) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*0.351) calc(50% + var(--s)*0.169) var(--g),calc(50% + var(--s)*0.243) calc(50% + var(--s)*0.305) var(--g),calc(50% + var(--s)*0.087) calc(50% + var(--s)*0.38) var(--g),calc(50% + var(--s)*-0.087) calc(50% + var(--s)*0.38) var(--g),calc(50% + var(--s)*-0.243) calc(50% + var(--s)*0.305) var(--g),calc(50% + var(--s)*-0.351) calc(50% + var(--s)*0.169) var(--g),calc(50% + var(--s)*-0.39) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*-0.351) calc(50% + var(--s)*-0.169) var(--g),calc(50% + var(--s)*-0.243) calc(50% + var(--s)*-0.305) var(--g),calc(50% + var(--s)*-0.087) calc(50% + var(--s)*-0.38) var(--g),calc(50% + var(--s)*0.087) calc(50% + var(--s)*-0.38) var(--g),calc(50% + var(--s)*0.243) calc(50% + var(--s)*-0.305) var(--g),calc(50% + var(--s)*0.351) calc(50% + var(--s)*-0.169) var(--g),radial-gradient(calc(var(--s)*0.458),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0.517) calc(50% + var(--s)*0.118) var(--g),calc(50% + var(--s)*0.415) calc(50% + var(--s)*0.331) var(--g),calc(50% + var(--s)*0.23) calc(50% + var(--s)*0.478) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*0.531) var(--g),calc(50% + var(--s)*-0.23) calc(50% + var(--s)*0.478) var(--g),calc(50% + var(--s)*-0.415) calc(50% + var(--s)*0.331) var(--g),calc(50% + var(--s)*-0.517) calc(50% + var(--s)*0.118) var(--g),calc(50% + var(--s)*-0.517) calc(50% + var(--s)*-0.118) var(--g),calc(50% + var(--s)*-0.415) calc(50% + var(--s)*-0.331) var(--g),calc(50% + var(--s)*-0.23) calc(50% + var(--s)*-0.478) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*-0.531) var(--g),calc(50% + var(--s)*0.23) calc(50% + var(--s)*-0.478) var(--g),calc(50% + var(--s)*0.415) calc(50% + var(--s)*-0.331) var(--g),calc(50% + var(--s)*0.517) calc(50% + var(--s)*-0.118) var(--g);
}
.nav-div {
  padding: auto auto 0px auto;
  margin: auto 0;
  color: white;
  transition-duration: .25s;
  min-width: auto;
}
.nav-current {
  color: #fff8c7;
}
.nav-div:not(.nav-current):hover {
  padding: auto auto 0px auto;
  margin: auto 0;
  color: #fff8c7;
}
.nav-div a {
  text-decoration: none;
  font-size: 30px;
  color: currentColor;
}
.nav-div svg {
  display: none;
}
.nav_underline {
  height: 3px; 
  margin: auto auto auto 50%;
  background-color: currentColor;
  width: 0%;
  transition-duration: .25s;
}
.nav-div:not(.nav-current):hover > .nav_underline {
  height: 3px; 
  margin: auto auto auto 0%;
  background-color: currentColor;
  width: 100%;
}
.nav-current > .nav_underline {
  width: 100%;
  margin: auto auto auto 0;
}
.banner {
  background-color: #4C301F;
  margin: 0;
  text-align: center;
  padding: 20px 0;
}
.banner h1 {
  font-size: 100px;
  font-weight:400;
  color: white;
  margin: auto 0;
}



footer {
  text-align: center;
  color: black;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  grid-template-rows: auto auto;
  gap: 0px 30px;
  justify-content: center;

  padding: 80px;

  background-color: #4C301F;
}

.contact-footer {
  text-align: center;
  margin: 10px auto 0;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  color:white;
}
.contact-footer:hover {
  text-align: center;
  margin: 10px auto 0;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  color:#fff8c7;
}
.contact-footer a {
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  color: currentColor;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.contact-underline {
  background-color: currentColor;
  width: 0;
  height: 3px;
  padding: 0;
  margin: 5px 0 20px 50%;
  transition-duration: .25s;
}
.contact-footer:hover > .contact-underline {
  background-color: currentColor;
  width: 100%;
  height: 3px;
  padding: 0;
  margin: 5px 0 20px;
}

footer > .fb-icon {
    grid-row: 2 / span 1;
}
footer > .insta-icon {
    grid-row: 2 / span 1;
}
footer > .email-icon {
  grid-row: 2 / span 1;
}
footer > .phone-icon {
  grid-row: 2 / span 1;
}

footer a svg {
  fill: white;
  height: 40px;
  width: 40px;
  transition-duration: .25s;
}
footer a:hover svg {
  fill: #fff8c7;
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 920px) {
  :root {
    --nav-logo-size: 90px;
  }
  header nav {
    column-gap: 40px;
  }
  .nav-div {
    min-width: 0;
  }
  .nav-div a {
    font-size: 3vw;
  }

  .banner h1 {
    font-size: 10vw;
  }
}
@media only screen and (max-width: 650px) {

  :root {
    --nav-logo-size: 18vw;
  }
  header {
    height: calc(var(--nav-logo-size) + 5vw);
  }
  header nav {
    margin: 0;
    justify-content: center;
    grid-template-columns: var(--nav-logo-size) auto auto auto auto;
    gap: 0 0;
  }
  .wavy-circle {
    --s: var(--nav-logo-size); /* adjust to control the size */

    position: absolute;
    background-color: #fff8c7;
    width: var(--s); 
    aspect-ratio: 1;
    --g:/calc(var(--s)*0.174) calc(var(--s)*0.174) radial-gradient(50% 50%,#000 99%,#0000 101%) no-repeat;
    mask: calc(50% + var(--s)*0.39) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*0.351) calc(50% + var(--s)*0.169) var(--g),calc(50% + var(--s)*0.243) calc(50% + var(--s)*0.305) var(--g),calc(50% + var(--s)*0.087) calc(50% + var(--s)*0.38) var(--g),calc(50% + var(--s)*-0.087) calc(50% + var(--s)*0.38) var(--g),calc(50% + var(--s)*-0.243) calc(50% + var(--s)*0.305) var(--g),calc(50% + var(--s)*-0.351) calc(50% + var(--s)*0.169) var(--g),calc(50% + var(--s)*-0.39) calc(50% + var(--s)*0) var(--g),calc(50% + var(--s)*-0.351) calc(50% + var(--s)*-0.169) var(--g),calc(50% + var(--s)*-0.243) calc(50% + var(--s)*-0.305) var(--g),calc(50% + var(--s)*-0.087) calc(50% + var(--s)*-0.38) var(--g),calc(50% + var(--s)*0.087) calc(50% + var(--s)*-0.38) var(--g),calc(50% + var(--s)*0.243) calc(50% + var(--s)*-0.305) var(--g),calc(50% + var(--s)*0.351) calc(50% + var(--s)*-0.169) var(--g),radial-gradient(calc(var(--s)*0.458),#000 99%,#0000 101%) subtract,calc(50% + var(--s)*0.517) calc(50% + var(--s)*0.118) var(--g),calc(50% + var(--s)*0.415) calc(50% + var(--s)*0.331) var(--g),calc(50% + var(--s)*0.23) calc(50% + var(--s)*0.478) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*0.531) var(--g),calc(50% + var(--s)*-0.23) calc(50% + var(--s)*0.478) var(--g),calc(50% + var(--s)*-0.415) calc(50% + var(--s)*0.331) var(--g),calc(50% + var(--s)*-0.517) calc(50% + var(--s)*0.118) var(--g),calc(50% + var(--s)*-0.517) calc(50% + var(--s)*-0.118) var(--g),calc(50% + var(--s)*-0.415) calc(50% + var(--s)*-0.331) var(--g),calc(50% + var(--s)*-0.23) calc(50% + var(--s)*-0.478) var(--g),calc(50% + var(--s)*0) calc(50% + var(--s)*-0.531) var(--g),calc(50% + var(--s)*0.23) calc(50% + var(--s)*-0.478) var(--g),calc(50% + var(--s)*0.415) calc(50% + var(--s)*-0.331) var(--g),calc(50% + var(--s)*0.517) calc(50% + var(--s)*-0.118) var(--g);
  }
  .nav-div a {
    font-size: 20px;
  }
  .nav-div svg {
    display: block;
    padding: 2vw;
    margin: 0.75vw auto auto auto;
    width: 12vw;
    height: 12vw;
    line-height: 0;
  }
  .nav-div span {
    display: none;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
  }
  .nav-home .nav_underline {
    display: none;
  }
  .nav_underline {
    display: none;
  }
  .nav-shop a span {
    display: none;
    width: 0;
    height: 0;
  }

}