body {
  background-color: #01796f;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header nav {
  text-align: center;
  padding: 40px 5% 0 5%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr;
  gap: 0px 0px;
}

header img {
  width: 100px;
}

header nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  padding: auto auto 0px auto;
  border: 0px solid black;
}

.nav_underline {
  height: 3px; 
  margin: 5px 8% 10px 8%;
  background-color: white;
}

header br {
  border-width: 10px;
  border-color: black;
  height: 10px;
  width:100%;
}

#banner {
  background-color: #33261E;
  margin: 0;
  font-size: 40px;
  text-align: center;
  padding: 30px 0;
}

#banner h1 {
  margin: 0;
}

.body {
  background-color: #D3F3EE;
  margin: 0px 0px;
  height: 1000px;
  width: 100%;
}

footer {
  height: 100px;
  
}

@media only screen and (max-width: 1000px) {
  
}