body {
  background-color: #01796f;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

header nav {
  text-align: center;
  padding: 40px 5% 0 5%;
  margin: 0 10%;
  display: grid;
  grid-template-columns: 2fr 125px 125px 125px 125px 3fr;
  gap: 0px 0px;
}

header img {
  width: 100px;
}

header nav div {
  padding: auto auto 0px auto;
  margin: auto;
}

header nav div a {
  text-decoration: none;
  font-size: 20px;
  color: #d3f3ee;
}

.nav_underline {
  height: 3px; 
  margin: 0;
  background-color: #d3f3ee;
}

header br {
  border-width: 10px;
  border-color: black;
  height: 10px;
  width:100%;
}

.banner {
  background-color: #33261E;
  margin: 0;
  text-align: center;
  padding: 20px 0;
}

.banner h1 {
  font-size: 100px;
  font-weight:400;
  color: white;
  margin: auto 0;
}

.body {
  background-color: #D3F3EE;
  margin: 0px 0px;
  height: 1000px;
  width: 100%;
}

footer {
  height: 100px;
  
}

@media only screen and (max-width: 1000px) {
  
}