


.about-container {
  background-color: #D8FFF3;
  width: 100%;
}

.shop {
  margin: 0 auto 30px;
  padding: 0;
  width: 100%;
  height: 32vw;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("../assets/soaps/5_soaps_driveway_2.jpeg");
  background-size: cover;
}
.shop a {
  text-decoration: none;
  width: 100%;
  height: inherit;
  display: inline-block;
  color: white;
  background-color:#006e4b1f;
  transition: 1s ease 2s;
}
.shop a h3 {
  line-height: 0;
  max-width: inherit;
  color: inherit;
  font-size: 10vw;
  opacity: 1;
  padding-top: 16vw;
  margin: 0;
}
#shop-banner:not(.loaded) {
  opacity: 0;
  padding-top: 7vw;
}
#shop-banner:is(.loaded) {
  opacity: 1;
  padding-top: 16vw;
  transition: .5s ease-in-out;
}




.simms {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 20px 20px;
  justify-content: center;
  margin: auto;
  padding: 30px 0;
}

.simms h1 {
  text-align: center;
  line-height: 1;
  padding: 20px;
  margin: 0 0 -30px 0;
}

.simms p {
  font-size: 26px;
  grid-row: 2;
  grid-column: 1;
}

.simms img {
  grid-row: 1 / span 2;
  width: 500px;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 651px) {
  .shop a {
    transition: .5s ease-in-out;
  }
  .shop a h3 {
    transition: inherit;
  }

  .shop a:hover > #shop-banner {
    opacity: 0;
    padding-top: 7vw;
  }
  .shop a:hover {
    background-color:#006e4b73;
    color: #fff8c7;
  }
  #shop-buy {
    opacity: 0;
    transition: inherit;
    padding-top: 9vw;
  }
  .shop a:hover > #shop-buy {
    opacity: 1;
  }
}


@media only screen and (max-width: 650px) {
  .shop a.loaded {
    background-color:#006e4b73;
  }
  #shop-banner {
    animation: banner-pine-move 4s ease 1s normal infinite;
  }
  #shop-buy {
    padding-top: 10vw;
    opacity: 0;
    animation: banner-buy-move 4s ease 1s normal infinite;
  }

  @keyframes banner-pine-move {
    0%, 25%, 100% {
      transform: translate(0, 0);
      opacity: 1;
    }
    50%, 75% {
      transform: translate(0, -10vw);
      opacity: 0;
    }
  }
  @keyframes banner-buy-move {
    0%, 25%, 100% {
      transform: translate(0, 0);
      opacity: 0;
    }
    50%, 75% {
      transform: translate(0, -10vw);
      opacity: 1;
    }
  }
}



@media only screen and (max-width: 1100px) {
  
  .about-container {
    width: 100%;
  }
  .simms {
    grid-template-columns: 100%;
    max-width: 500px;
  }
  .simms h1 {
    margin-bottom: -15px;
  }
  .simms p {
    margin: 0 auto 20px auto;
    width: 90%;
    max-width: 500px;
    font-size: 20px;
    grid-row: 3;
  }
  .simms img {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {

  .simms p {
    font-size: 5vw;
  }  

}