:root {
  overflow: hidden;
  height: 100vh;
}

.shop-container {
  background-color: #D8FFF3;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.shop-container iframe {
  width: 100vw;
  height: calc( 90vh );
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .shop-container iframe {
    height: 88vh;
  }
}