.shop-container {
  background-color: #D8FFF3;
  width: 100%;
}
.shop {
  height: 500px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
}
.shop h3 {
  font-size: 40px;
}
.shop span {
  font-size: 1em;
}