body {
    font-family: "Poppins", sans-serif;
    margin: 30px 20%;
}

header {
    text-align: center;
}

.soaps {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

.soaps img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

.soaps h3 {
    margin: 0;
    font-weight: 400;

}

.soaps a {
    margin: 30px 15% auto 15%;
}

footer svg {
    color: red;
}