

.project-card {
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
  transition: .5s;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  display: flex;
  color: black;
  text-decoration: none;
  
  display: grid;
  grid-template-columns: 1fr;
}
.project-card h3 {
  margin: 0 auto;
}

.project-card:not(.project-card-hover) {
  transition: 0s;
}

.project-card-hover:hover {
  transform: scale(1.04);
  opacity: .8;
}



.project-background {
  position:fixed;
  left: 0;
  top: 0;
  transition: 1s;

  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #0a1931;
  z-index: 2;

  display:grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap:0;
}

.project-iframe-header {
  display: grid;
  grid-template-columns: 40vw 20vw 40vw;
  color: white;
  align-items:center;
  max-height: 70px;
  height: 10vw;
}
.project-iframe-header h2 {
  font-size: 3vw;
  margin: 0 auto 0 3vw;
}
.project-iframe-header button {
  background-color: #4a7fa7;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: inline;
  color: currentColor;
  font-size: 3vw;
  margin: 0 auto;
  padding: 10px;
  z-index: 3;
}
#project-iframe-icon {
  margin: 0 3vw 0 auto;
  cursor: pointer;
  color: currentColor;
  max-height: 50px;

  height: 100%;
  width: max-content;
}

.project-background iframe {
  width: 100%;
  height: 100%;
  border:none;
}

@media screen and (min-width: 900px) {
  .project-iframe-header h2 {
    font-size: 25px;
  }
  .project-iframe-header a {
    font-size: 25px;
  }
  .project-iframe-header button {
    font-size: 25px;
  }
}